body{
    margin: 0px;
    padding: 0%;
    border-radius: 120px;

}

#bodymenu{
    background-image: linear-gradient(10deg, #f428da 0, #d81be2 16.67%, #b415e9 33.33%, #8519f0 50%, #3323f6 66.67%, #002efc 83.33%, #0037ff 100%);    height: 100vh;
}

.header{
    background-image: radial-gradient(circle at 48.64% 52.92%, #d143ac 0, #c43cb0 16.67%, #b436b5 33.33%, #a232b9 50%, #8d30bd 66.67%, #7430c2 83.33%, #5532c6 100%);
    border-radius: 20px;
    border-color: aliceblue;
    border-width: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.titulo{
    background-image: radial-gradient(circle at 48.64% 52.92%, #d143ac 0, #c43cb0 16.67%, #b436b5 33.33%, #a232b9 50%, #8d30bd 66.67%, #7430c2 83.33%, #5532c6 100%);
    text-align: center;
    color: rgb(255, 255, 255);
}

.menu{
    display: flex;
    justify-content: space-around;
}

.menu a{
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(9, 13, 255);
    margin: 10px;
}

.menu a:hover{
    border: 1px solid rgb(56, 55, 55);
    background-color: rgb(75, 90, 85);
    color: rgb(255, 255, 255);
    border-radius: 10px;
}